.doctor-bloodworks-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bloodworks-table {
  width: 100%;
  border-collapse: collapse;
}

.bloodworks-table th,
.bloodworks-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.bloodworks-table th {
  background-color: #f4f4f4;
}

.approve-button {
  color: white;
  background-color: green;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.reject-button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}